/* Table styles */

.tableContainer {
    margin: 2rem 0;
    width: 100%;
}

.tableOuterWrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: fit-content;
    margin: 0 !important;
}

.tableResponsiveWrapper {
    overflow-x: auto;
    width: 100%;
}

.paginationWrapper {
    margin-top: 0;
    width: 100%;
}
